@charset "UTF-8";

ul#album{
    width: 80%;
    margin: 0px auto;
    padding: 70px;
    overflow: hidden;
    list-style: none;
}
ul#album li > span{
    font-size: 9pt;
    opacity: 0;
    line-height: 550px;
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0,0.5);

}
ul#album li:hover{
    -webkit-transform: scale(1.5);
}
ul#album li:hover span{
    opacity: 1;
}
ul#album li{
    float: left;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4); 
    -webkit-transition: all 0.4s ease-in;

}

ul#album li#foto-01{
    background: url("../_imagens/galeria-01.jpg");
    background-position: 50% 50%; /* deixar imagem centralizada */
    background-size: 400px 400px;  /* tamanho da imagem original */
    background-color: #ffffff;
}
ul#album li#foto-01:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;
}
ul#album li#foto-02{
    background: url("../_imagens/galeria-02.jpg");
    background-position: 50% 50%; 
    background-size: 400px 400px; 
    background-color: #ffffff;
}
ul#album li#foto-02:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;
}
ul#album li#foto-03{
    background: url("../_imagens/galeria-03.jpg");
    background-position: 50% 50%; 
    background-size: 400px 400px; 
    background-color: #ffffff;
}
ul#album li#foto-03:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;
}
ul#album li#foto-04{
    background: url("../_imagens/galeria-04.jpg");
    background-position: 50% 50%; 
    background-size: 400px 400px; 
    background-color: #ffffff;
}
ul#album li#foto-04:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;
}
ul#album li#foto-05{
    background: url("../_imagens/galeria-05.jpg");
    background-position: 50% 50%; 
    background-size: 400px 400px; 
    background-color: #ffffff;
}
ul#album li#foto-05:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;
}
ul#album li#foto-06{
    background: url("../_imagens/galeria-06.jpg");
    background-position: 50% 50%; 
    background-size: 400px 400px; 
    background-color: #ffffff;
}
ul#album li#foto-06:hover{
    background-position: 0px 0px;
    background-size: 300px 300px;
}